body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
  height: 100%; margin: 0px; padding: 0px;
  background: #000;

}
html {
  height: 100% ;
  width: 100%;
}


* {
  margin: 0px;
  padding: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

#index1{
  color: #FFF;
  background: url("../images/index_bg.jpg") no-repeat center;
  background-size: 120% 120%;
  border-radius: 50%;
  width: 400px; height:300px;
  box-shadow: 0px 0px 10px #ffffff;
  position:absolute;
  left:50%;
  margin-top:80px;
  margin-left:-200px;
  z-index:2;
}
@media (max-width: 600px) {
  #index1{
    margin-top:30px;
  }
}



.right-menu .button.mh{
  vertical-align: middle;

  display: table;
  position: relative;
  width: 25px;
  float: right;
}

.view-container{
  margin-left: 300px;
  .view-frame{
    width: 100%;
  }
}

.intstruction{
  width: 1000px;
  min-height: 300px;
  margin: 0 auto;
  background: #ffffff;
  z-index: 2;
 // position: absolute;


  .table{
    display: table;
    width: 100%;

  }
  .nav-panel{
   width: 285px;
    a{
      padding: 5px 10px;
      background-color: #c1bffa;
      width: 200px;
      text-align: center;
      display: block;
      margin: 5px;
      color: #000000;

      .arrow{
        height: 0;
        border: 40px solid transparent;
        border-left-color: #690000;
        border-right: 0;
        width: 0;

      }
    }
  }
  .float-left{
    float: left;
  }
  a{
    cursor: pointer;
    text-decoration: none;
  }

}