<div class="content">
    <h2>
        Добавление нового устройства
    </h2>
    <div>
        <ol>
            <li>
                Войдите в систему под своим именем
            </li>
            <li>
               Нажмите шестеренку в верхнем левом углу
            </li>
            <li>
                Заполните данные устройтсва
                <p>..где:</p>
                <p>
                    imei   - уникальный идентификатор вашего устройства
                </p>
                <p>
                    name  - имя под которым устройство может отображаться в таблице зарегистрированных устройств
                </p>
                <p>
                    phone  - телефонный номер устройства (параметр не обязательный)
                </p>
            </li>
            <li>
                Обновите страницу
            </li>
        </ol>
        <h4>
            Примечание
        </h4>
        <div>
            Устройство не отобразиться на карте до тех пор пока от него не будет получена хотябы одна валидная координата(не null)
        </div>

    </div>
</div>