<div class="content">
    <h2>
        GPS Logger for Android
    </h2>
    <div>
        Самое популярное бесплатное приложение <a href="https://play.google.com/store/apps/details?id=com.mendhak.gpslogger&hl=ru" target="_blank"> GPS Logger for Android</a>
    </div>
    <img  style="padding: 20px;width: 300px; margin: 10px;  display: block" src="images/instruction/monitoring4.jpg">
    <div>
        <h4>
            Для работы с данным сервером:
        </h4>
        <ul>
            <li>
               Настроки -> Автоматическия отправка -> OpenGTS настройка ->
                <ul>
                    <li>
                        Сервер 178.62.44.54
                    </li>
                    <li>
                        Порт  80
                    </li>
                    <li>
                       Путь на сервере /logger/
                    </li>
                    <li>
                        Идентификатор устройсвта - imei телефона
                    </li>
                </ul>
            </li>
            <li>
               Настройки - > Настройки записи лога - >
                <ul>
                    <li>
                        Настраивать индивидуально
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>