<div class="content">
   <h2>
      GPS Marker
   </h2>
    <div style="text-align: center; float: left; width: 200px; padding: 20px">
        <img style="display:  inline-block; width: 200px" src="images/instruction/GpsMarker.jpg">
    </div>
    <div style="margin-left: 20px">

        <table>
            <tr>
                <td>
                    ip:
                </td>
                <td>
                    178.62.44.54
                </td>
            </tr>
            <tr>
                <td>
                    port:
                </td>
                <td>
                   10001
                </td>

            </tr>

        </table>


    </div>
    <h4 style="clear: both">
        Для привязки к серверу
    </h4>


    <div style="text-indent: 0">
                 Отправить смс на номер прибора -> IP=178.62.44.54:10001

    </div>




</div>