<div class="content">
   <h2>
       Oko Avto
   </h2>
    <div style="text-align: center; float: left; width: 200px; padding: 20px">
        <img style="display:  inline-block; width: 200px" src="images/instruction/oko-avto_2.jpg">
    </div>
    <div style="margin-left: 20px">

        <table>
            <tr>
                <td>
                    ip:
                </td>
                <td>
                    178.62.44.54
                </td>
            </tr>
            <tr>
                <td>
                    port:
                </td>
                <td>
                   10002
                </td>

            </tr>

        </table>


    </div>
    <h4 style="clear: both">
        Управляющая команда
    </h4>
    <div style="text-indent: 0">
                 отправить смс на номер прибора -> 123464178.62.44.54, 6510002
        <p>
            где 1234 - ваш пароль (1234 пароль по умолчанию)
        </p>
    </div>




</div>